<div class="ms-hero-page-override ms-hero-bgimg ms-hero-bgimg-tunnel ms-hero-bg-primary">
  <div class="container">
    <div class="text-center">
      <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Our Privacy Policy</h1>
      <p class="lead lead-lg color-light text-center center-block mt-2 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">
        We care about your privacy
        <br>Read on for how we look after you data
      </p>
    </div>
  </div>
</div>
<div class="container mt-minus-10">
  <div class="card wow nav-tabs-ver-container">
    <cac-tabset type="tabs" vertical="true" contentClass="col-lg-9 nav-tabs-ver-container-content" navClass="col-lg-3" class="row">
      <tab heading="Who are we?">
        <p>
          Clifton Agility Club  is a dog training club, specialising in dog agility. We are &apos;not for profit&apos; club run
          by volunteers. Clifton Agility Club are referred to as &apos;CAC&apos;, &apos;we&apos; and &apos;us&apos; in this policy.
        </p>
        <p>
          We are committed to maintaining the trust and confidence of our visitors to our web site. In particular, we want you
          to know that we are not in the business of selling, renting or trading email lists with other companies and businesses
          for marketing purposes. We just don&apos;t do that sort of thing, we just do dog training. But just in case you don&apos;t believe us, in this Privacy
          Policy, we&apos;ve provided lots of detailed information on when and why we collect your personal information, how we use
          it, the limited conditions under which we may disclose it to others and how we keep it secure. Grab a cuppa and read on.
        </p>
      </tab>
      <tab heading="Information We Collect">
        <h3>Contact Us and Membership Forms</h3>
        <h4>What we collect</h4>
        <ul>
          <li>Name</li>
          <li>Email Address</li>
          <li>Phone Number</li>
          <li>Your dogs information</li>
        </ul>
        <h4>How we use this data</h4>
        <p>
          We will only use this information to contact you about the specific question asked. In the case of the memebrship form, we
          will add your name to a waiting list and contact you when the next class becomes available. We will never contact you for
          any other eason and we will never sell or give your information to any other company.
        </p>
        <h3>Website Analytics</h3>
        <p>
          When someone visits www.cliftonagility.co.uk we use a third party service, Google Analytics, to collect standard internet
          log information and details of visitor behaviour patterns. We do this to find out things such as the number of visitors
          to the various parts of the site. This information is only processed in a way which does not identify anyone. We do not
          make, and do not allow Google to make, any attempt to find out the identities of those visiting our website.
        </p>
      </tab>
      <tab heading="Information Disclosure">
        <p>
          We will never disclose your personal information to any 3rd parties. The only exception to this will be if we have a legal obligation to do so.
        </p>
      </tab>
      <tab heading="Your Rights">
        <p>
          You have the following rights.
        </p>
        <ul>
          <li>The right to ask for a copy of personal data that we hold about you (the right of access).</li>
          <li>
            The right (in certain circumstances) to request that we delete personal data held on you; where
            we no longer have any legal reason to retain it (the right of erasure or to be forgotten)
          </li>
          <li>The right to ask us to update and correct any out-of-date or incorrect personal data that we hold about you (the right of rectification)</li>
          <li>
            The right to opt out of any marketing communications that we may send you and to object to us using/holding your personal
            data if we have no legitimate reasons to do so (the right to object)
          </li>
          <li>
            The right (in certain circumstances) to ask us to &apos;restrict processing of data&apos;; which means that we would need
            to secure and retain the data for your benefit but not otherwise use it (the right to restrict processing)
          </li>
          <li>
            The right (in certain circumstances) to ask us to supply you with some of the personal data we hold about you in a structured
            machine-readable format and/or to provide a copy of the data in such a format to another organisation (the right to data portability)
          </li>
        </ul>
        <p>
          If you wish to excerise any of the above rights, please use our <a [routerLink]='["/contact-us"]'>Contact Us</a> page.
        </p>
      </tab>
      <tab heading="Cookies">
        <p>
          Our website uses cookies to collect information. This includes information about the browsing behaviour of people who access our website.
          This includes information about pages viewed and the customer journey around our website. This is used to help find any usability problems
          and also help improve the site going forward. We do not have advertising on our site and therefore you will not be tracked for advertising purposes.
        </p>
      </tab>
      <tab heading="Changes to this Privacy Notice">
        <p>
          This policy is reviewed every year at our Annual General Meeeting. It was last updated on September 2018.
        </p>
      </tab>
    </cac-tabset>
  </div>
</div>
