<div class="ms-hero-page-override ms-hero-bgimg ms-hero-bgimg-jumps ms-hero-bg-primary">
  <div class="container">
    <div class="text-center">
      <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Download Section</h1>
      <p class="lead lead-lg color-light text-center center-block mt-2 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">
        
        <br>
        We offer a range of clothing items, all with the club logo embroidered on.
      </p>
    </div>
  </div>
</div>
<div class="container mt-minus-10">
  <div class="row">
    <div class="col-lg-4 col-sm-6 animated zoomInUp animation-delay-7">
      <div class="card card-info">
        <div class="card-body overflow-hidden text-center">
          <span class="ms-icon ms-icon-circle ms-icon-xxlg mb-4 color-info">
            <i class="zmdi zmdi-collection-text"></i>
          </span>
          <h4 class="color-info">Club Rule Book</h4>
          <p>Contains all rules members are expected to follow. Including all rules relating to being Kennel Club registered club.</p>
          <a href="assets/files/CLIFTON_AGILITY_CLUB___RULES.pdf" target="_blank" class="btn btn-raised btn-info">
            <i class="zmdi zmdi-download"></i> Rules Book
            <div class="ripple-container"></div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 animated zoomInUp animation-delay-7">
      <div class="card card-warning">
        <div class="card-body overflow-hidden text-center">
          <span class="ms-icon ms-icon-circle ms-icon-xxlg mb-4 color-warning">
            <i class="zmdi zmdi-assignment"></i>
          </span>
          <h4 class="color-warning">Results Record</h4>
          <p>The sheet you need for recording your results. Hand these in throughout the year to get prizes at the AGM.</p>
          <a href="assets/files/results_sheet.docx" target="_blank" class="btn btn-raised btn-warning">
            <i class="zmdi zmdi-download"></i> Results Sheet
            <div class="ripple-container"></div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 animated zoomInUp animation-delay-7">
      <div class="card card-royal">
        <div class="card-body overflow-hidden text-center">
          <span class="ms-icon ms-icon-circle ms-icon-xxlg mb-4 color-royal">
            <i class="zmdi zmdi-run"></i>
          </span>
          <h4 class="color-royal">Southy West League</h4>
          <p>Copies of the required documents for running a South West League match. </p>
          <a href="assets/files/SW_Score_Sheet.xlsx" target="_blank" class="btn btn-raised btn-royal">
            <i class="zmdi zmdi-download"></i> Overall Score Sheet
            <div class="ripple-container"></div>
          </a>
          <a href="assets/files/SW_Score_Sheets_Agility.xlsx" target="_blank" class="btn btn-raised btn-royal">
            <i class="zmdi zmdi-download"></i> Agility Scrimer Sheet
            <div class="ripple-container"></div>
          </a>
          <a href="assets/files/SW_Score_Sheets_Jumping.xlsx" target="_blank" class="btn btn-raised btn-royal">
            <i class="zmdi zmdi-download"></i> Jumping Scrimer Sheet
            <div class="ripple-container"></div>
          </a>
          <a href="assets/files/SW_Score_Sheets_Relay.xlsx" target="_blank" class="btn btn-raised btn-royal">
            <i class="zmdi zmdi-download"></i> Relay Scrimer Sheet
            <div class="ripple-container"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
