@import '../../styles/material-style/themes/_blue-800';



.ms-hero-img-dog-walk {
  background-image: url('../../assets/img/dog-walk.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
