
.ms-collapse {

  .panel {
    margin-bottom: 0 !important;
  }

  &.help-collapse {
    .panel-collapse {
      max-height: 200px;

      @media (max-width: 550px) {
        max-height: 280px;
      }
    }
  }
}
