<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.MailKit"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <target name="email" xsi:type="Mail"
            smtpServer="smtp.WebSiteLive.net"
            smtpPort="587"
            smtpAuthentication="Basic"
            smtpUserName="mark@cliftonagility.co.uk"
            smtpPassword="M!a2r3k4"
            enableSsl="false"
            from="mark@cliftonagility.co.uk"
            to="mark.dendunnen@gmail.com"
            subject="Clifton Agility Logging"
          />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <!--<logger name="*" minlevel="Trace" writeTo="email" />-->

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <!-- BlackHole without writeTo
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />-->
  </rules>
</nlog>