@import '../../styles/material-style/themes/_blue-800';

.ms-hero {

  &-bg {
    background-image: url('../../assets/img/loki-tunnel.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    &:after {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: darken(fade-out($color-primary, 0.4), 30%);
      z-index: 0;
    }
  }

  &.ms-hero-black {
  }
  /*&.ms-hero-material {
    background-color: $color-medium-light;

    &:before {
      background-color: $color-medium;
    }

    .ms-hero-bg {

      &:before {
        background-color: $color-medium-dark;
      }

      &:after {
        background-color: $color-medium-dark;
      }
    }
  }*/
}

.ms-hero-border-danger {
  border-top: 3px solid $color-danger;
  border-left: 3px solid $color-danger;
  border-right: 3px solid $color-danger;
}

.img-avatar-circle {

  font-size: 70px;
  line-height: 113px;
  text-align: center;

  @each $n, $c in $color-list {
    &.color-#{$n} {
      color: #fff !important;
      background-color: $c;
    }
  }
}

.wrap {
  &-chance {
    background-color: $color-dark;
    color: $color-light-light;
    background-image: url("../../assets/img/chance.jpg");
    background-position: center center;
    background-size: cover;
    position: relative;
    animation: moveBack;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    padding: 12rem 0;
  }

  &-jump {
    background-color: $color-dark;
    color: $color-light-light;
    background-image: url("../../assets/img/agility-jumps.jpg");
    background-position: center center;
    background-size: cover;
    position: relative;

    &:after {
      display: block;
      content: "";
      position: absolute;
      z-index: 0;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      background-color: fade-out(darken($color-primary, 28%), 0.2);
    }

    .container {
      position: relative;
      z-index: 1;
    }
  }
}

.list-basic {
  list-style-type: none;

  li {
    padding-left: 1rem;

    p {
      padding-left: 1rem;
    }
  }

  li:before {
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
    content: "\f32f";
    position: relative;
    left: -2rem
  }
}
