<div class="card card-primary animated fadeInUp animation-delay-7">
  <div class="card-header">
    <h3 class="card-title">
      <i class="zmdi zmdi-map"></i>Address
    </h3>
  </div>
  <div class="card-body">
    <h4>Looking for us?</h4>
    <address class="no-mb">
      <i class="color-danger zmdi zmdi-map"></i>
      Chelvey Court Farm<br />
      Chelvey Road<br />
      Backwell<br />
      Bristol<br />
      BS48 4AA
    </address>
    <div class="text-center">
      <a class="btn btn-lg btn-primary btn-raised" [routerLink]='["/our-venue"]'><i class="zmdi zmdi-pin-drop"></i>Find Us</a>
    </div>
  </div>
</div>
