<div class="card card-primary animated fadeInUp animation-delay-7">
  <div class="card-header">
    <h3 class="card-title">
      <i class="zmdi zmdi-accounts-add"></i>Membership Form
    </h3>
  </div>
  <div class="card-body">
    <p>Looking to join the club? Fill out the new members form and we'll be in touch.</p>
    <p>The new members form can be found here...</p>
    <div class="text-center">
      <a class="btn btn-lg btn-primary btn-raised" [routerLink]='["/membership"]'><i class="zmdi zmdi-account-add"></i>Membership Form</a>
    </div>
  </div>
</div>
