<aside class="ms-footbar">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 ms-footer-col">
        <div class="ms-footbar-block">
          <h3 class="ms-footbar-title">Sitemap</h3>
          <ul class="list-unstyled ms-icon-list two_cols">
            <li>
              <a [routerLink]='["/"]'>
                <i class="zmdi zmdi-home"></i> Home
              </a>
            </li>
            <li>
              <a [routerLink]='["/about-us"]'>
                <i class="zmdi zmdi-info-outline"></i> About Us
              </a>
            </li>
            <li>
              <a [routerLink]='["/our-venue"]'>
                <i class="zmdi zmdi-pin-drop"></i> Find Us
              </a>
            </li>
            <li>
              <a [routerLink]='["/contact-us"]'>
                <i class="zmdi zmdi-comments"></i> Contact Us
              </a>
            </li>
            <li>
              <a [routerLink]='["/membership"]'>
                <i class="zmdi zmdi-accounts-add"></i> New Members Form
              </a>
            </li>
            <li>
              <a [routerLink]='["/club-clothing"]'>
                <i class="zmdi zmdi-shopping-basket"></i> Club Clothing
              </a>
            </li>
            <li>
              <a [routerLink]='["/help-advice"]'>
                <i class="zmdi zmdi-help-outline"></i> Help &amp; Advice
              </a>
            </li>
            <li>
              <a [routerLink]='["/downloads"]'>
                <i class="zmdi zmdi-download"></i> Downloads
              </a>
            </li>
            <li>
              <a [routerLink]='["/privacy-policy"]'>
                <i class="zmdi zmdi-download"></i> Privacy Policy
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-5 col-md-7 ms-footer-col ms-footer-alt-color">

        <div class="ms-footbar-block">
          <h3 class="ms-footbar-title">Contact Us</h3>
          <p class="">Got a question? Get in touch using the button below.</p>
          <a [routerLink]='["/contact-us"]' class="ms-subscribre-btn btn btn-white">Contact Us</a>
        </div>
        <div class="ms-footbar-block">
          <div class="ms-footbar-social text-center">
            <a href="https://www.facebook.com/cliftonagilityclub/" target="_blank" class="btn-circle btn-facebook">
              <i class="zmdi zmdi-facebook"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-5 ms-footer-col ms-footer-text-right">
        <div class="ms-footbar-block">
          <div class="ms-footbar-title">
            <span class="ms-logo ms-logo-sm mr-1">
              <img height="34" alt="C" src="/assets/img/clublogo90.png" />
            </span>
            <h3 class="no-m ms-site-title">
              <span>Clifton</span> Agility Club
            </h3>
          </div>
          <address class="no-mb">
            <p>
              <i class="color-danger-light zmdi zmdi-pin mr-1"></i> Chelvey Court Farm, Chelvey
            </p>
            <p>
              <i class="color-warning-light zmdi zmdi-map mr-1"></i> Backwell, BS48 4AA
            </p>
            <p>
              <i class="color-info-light zmdi zmdi-email mr-1"></i>
              <a href="mailto:info@cliftonagility.co.uk">info@cliftonagility.co.uk</a>
            </p>
          </address>
        </div>
      </div>
    </div>
  </div>
</aside>
<footer class="ms-footer">
  <div class="container">
    <p>Copyright &copy; Clifton Agility Club {{year}}</p>
  </div>
</footer>
