<nav class="navbar navbar-expand-md sticky-top navbar-static ms-navbar ms-navbar-{{colorScheme}}">
  <div class="container container-full">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]='["/"]'>
        <!-- <img src="assets/img/demo/logo-navbar.png" alt=""> -->
        <span class="ms-logo ms-logo-sm">
          <img height="31" alt="C" src="/assets/img/clublogo90.png" />
        </span>
        <span class="ms-title">
          <strong>Clifton</strong> Agility Club
        </span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="ms-navbar">
      <ul class="navbar-nav">
        <ng-template ngFor let-menuItem [ngForOf]="menuItems">
          <li *ngIf="!menuItem.hasChildren()" class="nav-item" [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a [routerLink]='[menuItem.link]' class="nav-link animated fadeIn animation-delay-7" data-name="{{menuItem.name}}">
              {{menuItem.name}}
            </a>
          </li>
          <li *ngIf="menuItem.hasChildren()" class="nav-item dropdown" dropdown triggers="hover touch" #dp="bs-dropdown" [routerLinkActive]='["active"]'>
            <a class="nav-link dropdown-toggle animated fadeIn animation-delay-7" dropdownToggle role="button" aria-haspopup="true" aria-expanded="false" data-name="{{menuItem.name}}" (mouseleave)="dp.hide()">
              {{menuItem.name}}
              <i class="zmdi zmdi-chevron-down"></i>
            </a>
            <ul class="dropdown-menu" *dropdownMenu aria-labelledby="nav-about" (mouseleave)="dp.hide()">
              <li *ngFor="let childItem of menuItem.children">
                <a [routerLink]='[childItem.link]' [fragment]="childItem.fragment" [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }' class="dropdown-item">{{childItem.name}}</a>
              </li>
            </ul>
          </li>
        </ng-template>
      </ul>
    </div>
    <app-slide-menu></app-slide-menu>
  </div>
</nav>
