<div class="ms-hero-page-override ms-hero-bgimg ms-hero-bgimg-tunnel ms-hero-bg-primary">
  <div class="container">
    <div class="text-center">
      <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Become a Member</h1>
      <p class="lead lead-lg color-light text-center center-block mt-2 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">
        Do you like what you've seen?
        <br>Fill out the form and we will add you to our waiting list
      </p>
    </div>
  </div>
</div>
<div class="container mt-minus-10">
  <div class="row">
    <div class="col-xl-8 col-lg-7 col-sm-12">
      <div *ngIf="messageStatus == messageStatusEnum.ShowForm" class="card card-primary animated fadeInUp animation-delay-7">
        <div class="card-body">
          <form class="form-horizontal" novalidate (ngSubmit)="sendMessage()" [formGroup]="form">
            <fieldset class="container">
              <h2>About You</h2>
              <!-- Name -->
              <div class="form-group row" [ngClass]="{ 'val-invalid': validation.hasError(form, ['name'], null) }">
                <label for="inputName" autocomplete="false" class="col-lg-3 control-label">Name:</label>
                <div class="col-lg-9">
                  <input type="text" class="form-control" id="inputName" placeholder="Your name..." formControlName="name" />
                  <div *ngIf="validation.hasError(form, ['name'], null)" class="val-message">
                    <div *ngIf="validation.hasError(form, ['name'], ['required', 'minLength'])">
                      Please tell us your name.
                    </div>
                  </div>
                </div>
              </div>
              <!-- Email -->
              <div class="form-group row" [ngClass]="{ 'val-invalid': validation.hasError(form, ['emailAddress'], null) }">
                <label for="inputEmail" autocomplete="false" class="col-lg-3 control-label">Email:</label>
                <div class="col-lg-9">
                  <input type="email" class="form-control" id="inputEmail" placeholder="Your email address..." formControlName="emailAddress">
                  <div *ngIf="validation.hasError(form, ['emailAddress'], null)" class="val-message">
                    <div *ngIf="validation.hasError(form, ['emailAddress'], ['required'])">
                      Please tell us your email address.
                    </div>
                    <div *ngIf="validation.hasError(form, ['emailAddress'], ['email'])">
                      Please check your email address.
                    </div>
                  </div>
                </div>
              </div>
              <!-- Phone -->
              <div class="form-group row">
                <label for="inputPhone" autocomplete="false" class="col-lg-3 control-label">Phone Number:</label>
                <div class="col-lg-9">
                  <input type="tel" class="form-control" id="inputPhone" placeholder="Your phone number..." formControlName="phoneNumber" />
                  <div *ngIf="validation.hasError(form, ['phoneNumber'], null)" class="val-message">
                    <div *ngIf="validation.hasError(form, ['phoneNumber'], ['required'])">
                      We need your phone number so we can contact you.
                    </div>
                  </div>
                </div>
              </div>
              <h2>Your Dog</h2>
              <!-- Dog Name -->
              <div class="form-group row" [ngClass]="{ 'val-invalid': validation.hasError(form, ['dogName'], null) }">
                <label [for]="inputDogName" autocomplete="false" class="col-lg-3 control-label">Pet Name:</label>
                <div class="col-lg-9">
                  <input type="text" class="form-control" id="inputDogName" placeholder="Your pets name..." formControlName="dogName" />
                  <div *ngIf="validation.hasError(form, ['dogName'], null)" class="val-message">
                    <div *ngIf="validation.hasError(from, ['dogName'], ['required', 'minLength'])">
                      Please tell us your dogs pet name.
                    </div>
                  </div>
                </div>
              </div>
              <!-- Dog Breed -->
              <div class="form-group row" [ngClass]="{ 'val-invalid': validation.hasError(form, ['breed'], null) }">
                <label [for]="inputBreed" autocomplete="false" class="col-lg-3 control-label">Breed:</label>
                <div class="col-lg-9">
                  <ng-select [items]="breeds" class="ca-select" [id]="inputBreed" formControlName="breed"></ng-select>
                  <div *ngIf="validation.hasError(form, ['breed'], null)" class="val-message">
                    <div *ngIf="validation.hasError(form, ['breed'], ['required'])">
                      We need this so we can put you and your dog in suitable group.
                    </div>
                  </div>
                </div>
              </div>
              <!-- Dog DOB -->
              <div class="form-group row" [ngClass]="{ 'val-invalid': validation.hasError(form, ['dogDateOfBirth'], null) }">
                <label [for]="inputDogDOB" autocomplete="false" class="col-lg-3 control-label">Dogs Date of Birth:</label>
                <div class="input-group col-lg-9">
                  <input class="form-control" placeholder="dd/mm/yyyy" [id]="inputDogDOB" formControlName="dogDateOfBirth" ngbDatepicker #dob="ngbDatepicker" />
                  <div class="input-group-append">
                    <button class="btn-circle btn-circle-primary" (click)="dob.toggle()" type="button">
                      <i class="zmdi zmdi-calendar"></i>
                    </button>
                  </div>
                  <div *ngIf="validation.hasError(form, ['dogDateOfBirth'], null)" class="val-message">
                    <div *ngIf="validation.hasError(form, ['dogDateOfBirth'], ['required'])">
                      We need this so we can put you and your dog in suitable group.
                    </div>
                  </div>
                </div>
              </div>
              <!-- Message -->
              <div class="form-group row">
                <label for="textArea" class="col-lg-3 control-label">
                  Message:
                  <small class="form-text text-muted">Optional. Anything else you want us to know?</small>
                </label>
                <div class="col-lg-9">
                  <textarea class="form-control" rows="5" id="textArea" placeholder="Your message..." formControlName="message"></textarea>
                </div>
              </div>
              <!-- Recaptcha -->
              <div class="form-group row" [ngClass]="{ 'val-invalid': validation.hasError(form, ['recaptcha'], null) }">
                <label for="textArea" class="col-lg-3 control-label">
                  Please confirm you are a person:
                  <small class="form-text text-muted">Sorry, but we've had people abusing the form. So we have to do this.</small>
                </label>
                <div class="col-lg-9">
                  <re-captcha formControlName="recaptcha" [size]="recaptchaSize"></re-captcha>
                  <div *ngIf="validation.hasError(form, ['recaptcha'], null)" class="val-message">
                    <div *ngIf="validation.hasError(form, ['recaptcha'], ['required'])">
                      Sorry but we've had people sending us automated spam. This helps to stop them.
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row justify-content-end">
                <div class="col-lg-10">
                  <button type="submit" [disabled]="form.invalid" class="btn btn-raised btn-primary">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
