<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoomLevel">
  <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="pushpin">
  </agm-marker>
</agm-map>
<div class="our-venue__overlay animated fadeInLeft animation-delay-7" [ngClass]="{ 'collapsed': isCollapsed }">
  <div class="ms-collapse" id="accord-venue">
    <div class="mb-0 card card-primary">
      <div class="card-header" role="tab" id="overlay-heading">
        <h4 class="card-title">
          <a class="withripple" [ngClass]="{ 'collapsed': isCollapsed }"  role="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="venue-overlay">
            <i class="zmdi zmdi-pin"></i> <span *ngIf="!isCollapsed">Our Venue</span><div class="ripple-container"></div>
          </a>
        </h4>
      </div>
      <div id="venue-overlay" class="card-collapse" [ngClass]="{ 'show': !isCollapsed }" role="tabpanel" aria-labelledby="overlay-heading" data-parent="#accord-venue">
        <div class="card-body">
          <h3 class="color-primary">Address</h3>
          <address>
            <p>
              Chelvey Court Farm<br />
              Chelvey Road<br />
              Backwell<br />
              Bristol<br />
              BS48 4AA
            </p>
          </address>
          <h3 class="color-primary">Training Times</h3>
          <p>
            Wednesday: 19:00 - 22:00
          </p>
          <a href="http://maps.google.com/maps?&z=13&q=51.4115062667691+-2.76832604408264&ll=51.4115062667691+-2.76832604408264" target="_blank" class="btn btn-lg btn-raised btn-info"><i class="zmdi zmdi-turning-sign"></i>  Directions</a>
        </div>
      </div>
    </div>
  </div>
</div>
